<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>

<title>Blockendance</title>
<h1>Check Your Attendance</h1>

<body class="blue-grey lighten-4">
    <div class="row">
        <form class="col s12" id="form" name="form" action="/" method="post">
            <div class="row">
                {% if not name %}
                <div class="input-field col s12">
                    <label for="name">Your name</label>
                    <input type="text" id="name" name="name" value="">
                </div>
                {% endif %}
                <div class="input-field col s12">
                    <label for="number">Roll Number</label>
                    <input type="number" id="number" name="number" value="50">
                </div>
        
                <div class="input-field col s12">
                    <select id="course" name="course">
                        <option value="UE17CS351">UE17CS351 - Compiler Design</option>
                        <option value="UE17CS352">UE17CS352 - Cloud Computing</option>
                        <option value="UE17CS353">UE17CS353 - Web Technologies - II</option>
                        <option value="UE17CS354">UE17CS354 - Compiler Design Laboratory</option>
                        <option value="UE17CS355">UE17CS355 - Web Technologies - II Laboratory</option>
                        <option value="UE17CS333">UE17CS333 - Natural Language Processing</option>
                        <option value="UE17CS342">UE17CS342 - Knowledge Management</option>
                        <option value="UE17CS356D">UE17CS356D - Blockchain</option>
                    </select>
                    <label for="course">Course Code</label>
                </div>
                
                <button class="btn waves-effect waves-light" type="submit" name="action">Next
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>

    <script type="text/javascript">
    var form = document.getElementById("form") || null;
    if(form) {
        form.action = window.location.pathname;
    }
    var dpelem = document.querySelector('.datepicker');
    var dpinstance = M.Datepicker.init(dpelem, {format:'yyyy-mm-dd'});
    var fselem = document.querySelector('select');
    var fsinstance = M.FormSelect.init(fselem, {});
    </script>
</body>
