<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>

<title>Blockendance</title>

<body class="blue-grey lighten-4">
    <h3>Hello {{ name }}, here is the attendance data</h3>
    <br />
    <br />
    <table>
        <thead>
            <tr>
                <th>Course</th>
                <th>Attendance</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            {%  for i in range(1, num_records+1) %}
            <tr>
                <td>{{ status[i-1][0] }}</td>
                <td>{{ status[i - 1][1] }}</td>
                <td>{{ status[i - 1][2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />

    <button class="btn waves-effect waves-light" type="button" id="button" name="button">Go Back</button>
    <script type="text/javascript">
    function goBack() {
        window.open("/student_landing.html", "_self");
    }
    var button = document.getElementById("button");
    button.addEventListener("click", goBack);
    </script>

</body>
